services:
  - type: web
    name: expense-tracker
    env: python
    buildCommand: pip install -r requirements.txt && python core/manage.py collectstatic --noinput && python core/manage.py migrate
    startCommand: gunicorn core.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.3
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: expense-db
          property: connectionString
    plan: free

databases:
  - name: expense-db
    databaseName: expense_tracker
    user: renderer